form {
	padding: 1rem 0;
	gap: 1rem;
}

form,
.form-group,
.form-field {
	display: flex;
	flex-direction: column;
}

.form-group {
	gap: 1rem;
}

.form-field {
	gap: 0.5rem;
}

.form-footer {
	display: flex;
	gap: 1rem;
	padding: 1rem 0;
}

input {
	padding: 5px 10px;
}

.error {
	color: darkred;
}